@charset "utf-8";
@import url('common.css');
/* CSS Document */

/*==================================================
　以下アニメーション
===================================*/
@keyframes rotation{
  0%{ transform:rotate(0);}
  100%{ transform:rotate(360deg); }
}


@keyframes fadein01{
  0%{ opacity: 0;}
	20%{ opacity: 0;}
  100%{ opacity: 100; }
}

/*==================================================
　5-3-3 左から右に線が伸びる（下部）
===================================*/

.gnavi li a{
    /*線の基点とするためrelativeを指定*/
	position: relative;
}

.gnavi li.current a,
.gnavi li a:hover{
	color:var(--text-main);
}

.gnavi li a::after {
    content: '';
    /*絶対配置で線の位置を決める*/
    position: absolute;
    bottom: -2px;
    left: 0%;
    /*線の形状*/
    width: 100%;
    height: 2px;
    background: var(--sub-orange);
    /*アニメーションの指定*/
    transition: all .3s;
    transform: scale(0, 1);/*X方向0、Y方向1*/
    transform-origin: left top;/*左上基点*/
}

/*現在地とhoverの設定*/
.gnavi li.current a::after,
.gnavi li a:hover::after {
    transform: scale(1, 1);/*X方向にスケール拡大*/
}




	
/*スクロール時にふわっとでる*/


.fadeInDown {
 -webkit-animation-fill-mode:both;
 -ms-animation-fill-mode:both;
 animation-fill-mode:both;
 -webkit-animation-duration:1s;
 -ms-animation-duration:1s;
 animation-duration:1s;
 -webkit-animation-name: fadeInDown;
 animation-name: fadeInDown;
 visibility: visible !important;
}
@-webkit-keyframes fadeInDown {
 0% { opacity: 0; -webkit-transform: translateY(-20px); }
 100% { opacity: 1; -webkit-transform: translateY(0); }
}
@keyframes fadeInDown {
 0% { opacity: 0; -webkit-transform: translateY(-20px); -ms-transform: translateY(-20px); transform: translateY(-20px); }
 100% { opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }
}
	
	

/*=== 9-1-2 丸が動いてスクロールを促す ====*/

#scroll-box{
	position: fixed;
	left: 3vw;
	bottom:  5vh;
	width: 50px;
	height: 50px;
}

/*下からの距離が変化して丸の全体が上から下に動く*/
@keyframes circlemove{
      0%{bottom:6rem;}
      40%{bottom:4rem;}	
     100%{bottom:-0.5rem;}
 }

/*上から下にかけて丸が透過→不透明→透過する*/
@keyframes cirlemovehide{
      0%{opacity:0}
	40%{opacity:0}
     70%{opacity:1;}
    90%{opacity:0.9;}
	100%{opacity:0;}
 }



/**************/



/**********************/
/*丸がボタンに変形する*/
/**********************/


/*共通の動作*/
.btntransform{
	font-size: 1.2rem;
    /*丸の基点とするためrelativeを指定*/
	position: relative;
    /*ボタンの形状*/	
    display: inline-block;
	padding:0 0 0 1.5rem;
	line-height: 5rem;
    color: var(--text-main);
    text-decoration: none;
    outline: none;
	z-index: 10;
	top:80%;
	left:80%;
	
}



/* 丸が動く */
.btntransform::before{
	content:'';
    /*絶対配置で丸の位置を決める*/
	position:absolute;
	left:0;
	z-index: -1;
    /*丸の形状*/
	width:5rem;
	height:5rem;
	background:#FFFF00;
	border-radius:2.5rem;
    /*アニメーションの指定*/
    transition:.3s ease-out;
}

/*hoverした際の形状*/
.btntransform:hover::before{
	width:130%;
}

/* 矢印の形状 */
.btntransform::after{
	position: absolute;
    content: '';
    top: 40%;
    right: -1.5rem;
    width: 0.5rem;
    height: 0.5rem;
    border-top: 0.1rem solid var(--text-black);
    border-right: 0.1rem solid var(--text-black);
    transform: rotate(45deg);
}


	



/* 丸が動く */
#btntransform_PICKUP::before{
	content:'';
    /*絶対配置で丸の位置を決める*/
	position:absolute;
	left:0;
	z-index: -1;
    /*丸の形状*/
	width:5rem;
	height:5rem;
	background:#FFFF00;
	border-radius:2.5rem;
    /*アニメーションの指定*/
    transition:.3s ease-out;
}

/*hoverした際の形状*/
#btntransform_PICKUP:hover::before{
	width:130%;
}

/* 矢印の形状 */
#btntransform_PICKUP::after{
	position: absolute;
    content: '';
    top: 40%;
    right: -1.5rem;
    width: 0.5rem;
    height: 0.5rem;
    border-top: 0.1rem solid #000000;
    border-right: 0.1rem solid #000;
    transform: rotate(45deg);
}
/**********************/
/*END 丸がボタンに変形する*/
/**********************/




/*==================================================
ボタンcss
===================================*/


